catboost>=0.24.3
category-encoders>=2.2.2
Cython==0.29.21
fsspec==0.6.3
h5py<3.0.0
hydra-core>=1.0.3
ipywidgets==7.5.1
isort>=5.6.4
japanize-matplotlib==1.1.3
joblib>==0.17.0
jupyterlab>=2.2.9
kaggle==1.5.9
keras==2.3.1
matplotlib>=3.3.2
ml_metrics>=0.1.4
mlflow>=1.11.0
mypy>=0.790
numba>=0.51.2
numpy==1.18.5
nyaggle==0.1.4
omegaconf>=2.0.3
optuna>=2.2.0
pandas>=1.1.5
plotly>=4.12.0
pytest>=6.1.2
scikit-learn>=0.23.2
scipy>=1.5.3
seaborn>=0.11.0
streamlit>=0.71.0
tensorflow==2.3.1
tsfresh>=0.17.0
tqdm>=4.51.0
torch==1.7.0
torchvision==0.8.1
xgboost>=1.2.1
